*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.header_top{   
    background-color:#255EE9;
    height: 50px;
    color: white;
    
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 70%;
    margin: auto;
}

.links{
    display: flex;
}

.link_top{
    list-style: none;
    padding: 5px;
}

a{
    text-decoration: none;
    color: white;
}

.header_bot{    
    min-height: 400px;
    background-image: url("../img/jumbo.png");
    background-size: cover;
    color: white;
}

.text_header{
    width: 60%;
    height: 70%;   
    text-align: center;
    padding: 10px; 
    
}

.text_header p{
    line-height: 30px;
    padding: 5px;
}

.header_bot{
    display: flex;
    align-items: center;
    justify-content: center;
}

a.button.white{
    background-color: white;
    color: black;
}

.button.white.down::before{
    content: "\2193";
    font-size: 20px;
}

.button.purple.down::before{
    content: "\2193";
    font-size: 20px;
}

.button.purple{
    background-color: #7289DA;

}

a.button.black{
    background-color: black;
    color: white;
}

.button{
    border-radius: 25px;
    padding: 10px;
}

.section_white ,.section_grey {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;   
}

.section_img{
    background-size: contain;
    background-repeat: no-repeat;
}

#img_one{
    background-image: url(../img/item1.svg);   
}

#img_two{
    background-image: url(../img/item2.svg);   
}

#img_three{
    background-image: url(../img/item3.svg);   
}

.section_text{
    text-align: left;
    padding-top: 20px;
    font-size: 25px;
    width: 40%;
}
.section_img{
    width: 60%;
    height: 300px;
}

.section_text > p{
    font-size: 20px;
    padding-top: 10px;
}

.section_white ,.section_grey , .section_bot , .foot_top{
    width: 70%;
    margin: auto;
}

.container.grey{
    background-color: #F6F6F6;;
    padding: 30px 0;
   
}

.section_bot{ 
    min-height: 800px;
    text-align: center;  
    
}

.section_bot > h3,.section_bot > h2{
    margin-bottom: 20px;
    font-size: 25px;
}

.container_black_top{
    background-color:black;
    padding: 10px 0 30px;
    
}

.container.top{
    border-bottom: 1px solid white;
}

.foot_top{
    display: flex;
}

.social{
    width: 30%;
}

.list{
    width: calc(70% / 4);
}

.foot_bot{
    width: 70%;
    margin: auto;
}

.container_black_bottom{
    background-color: black;
    padding-top: 10px;
    border-top: 1px solid white;
}

.container_bottom{
    display: flex;
    justify-content: space-between;
    height: 30px;
    padding-bottom: 0;
}

footer{
    background-color:#23272A;
    color: white;
}

footer ul{
    list-style: none;
    
}

.purple-text{
    color: #7188D9;
    font-size: 20px;
}

.social > img{
    height: 15px;
}

.list{
    line-height: 30px;
}